body {
	font-family:"Arial", sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	position: sticky;
	text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    padding: 8px;
    color: #fff;
    text-decoration: none;
	display: inline-block;
}

nav ul li a:hover {
    cursor: pointer;
    background-color: #555;
}

/* Banner */
header {
    text-align: center;
    padding: 50px;
    background-color: #f2f2f2;
}

#welcome{
	font-family:"Arial", sans-serif;
	font-weight: bold;
    font-size: 3em;
    color: #333;
}

header p {
    font-size: 1.2em;
    color: #555;
}

/* Featured Products */
#featured-products {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
}

.product-container {
    color: #555;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}



.product-container img {
	width:150px;
}

.product-container h2 {
    margin-top: 10px;
}

.product-container p {
    font-size: 1.1em;
    color: #888;
}

.product-container a{
	display: block;
    padding: 8px;
    color: #fff;
	background-color: #333;
    text-decoration: none;
	text-align: center;
    cursor: pointer;
}

.product-container a:hover {
    background-color: #555;
}


/* Footer Styles */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}
