/* Navbar */

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	position: sticky;
	text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    padding: 8px;
    color: #fff;
    text-decoration: none;
	display: inline-block;
}

nav ul li a:hover {
    cursor: pointer;
    background-color: #555;
}


/* Product Grid */
.container-fluid {
    padding: 20px;
}

.product-container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.product-container img {
    max-width: 100%;
    width: auto;
}

.product-container h2 {
    font-size: 1.2em;
    margin-top: 10px;
}

.product-container p {
    font-size: 1.1em;
    color: #888;
    margin-bottom: 10px;
}

.product-container a{
	display: block;
    padding: 8px;
    color: #fff;
	background-color: #333;
    text-decoration: none;
	text-align: center;
    cursor: pointer;
    border-radius: 5px; 
}

.product-container a:hover {
    background-color: #555;
}
