@charset "utf-8";
/* CSS Document */

body {
	font-family:"Arial", sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	position: sticky;
	text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    padding: 8px;
    color: #fff;
    text-decoration: none;
	display: inline-block;
}

nav ul li a:hover {
    cursor: pointer;
    background-color: #555;
}

/* Product Grid Styles */
#product-grid {
    display: grid;
    grid-gap: 20px; /* Gap between grid items */
    padding: 20px;
}

.product-container button {
	text-align: center;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 20px 20px;
    cursor: pointer;
}

.product-container button img {
    width: 100%;
    height: auto;
}

.product-container button h2 {
    margin-top: 10px;
}

.product-container button p {
    font-size: 1.1em;
    color: #888;
}

.product-container button:hover {
    background-color: #555;
}
